.headerOrder {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .headerOrderSelect {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 560px) {
      flex-direction: column;
    }


    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    // padding: 20px 0;
    align-items: flex-start;

    .CheckboxStorage {
      display: flex;
      align-items: start !important;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 6px;
      // padding: 20px 0;
      align-items: flex-start;

      @media screen and (max-width:638px) {
        width: 100%;
      }
    }

    .EmployeeDepartmentCategory {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 6px;
      // padding: 20px 0;
      align-items: flex-start;
    }


    .Checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .formItemLabel {
        font-size: 16px;
        font-weight: 600;
        color: #649ace;
      }
    }

    .formItem {
      display: flex;
      flex-direction: column;
      gap: 5px;

      @media screen and (max-width:638px) {
        width: 100%;
      }

      .formItemLabel {
        font-size: 16px;
        font-weight: 600;
        color: #649ace;
      }

      .formItemSelect {
        min-width: 280px;
      }

      .modalTextArea {
        padding: 10px;
        border: 2px solid #678098;
        border-radius: 6px;
        font-size: 16px;
        outline: none;

        &:focus {
          border: 2px solid #649ace;
        }

        &::placeholder {
          color: #678098;
        }
      }

      .modalTextArea {
        width: 100%;
        resize: none;
      }
    }

    .error {
      color: red;
      font-size: 12px;
      padding-left: 2px;
    }
  }

  .headerOrderTextArea {
    .formItem {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .formItemLabel {
        font-size: 16px;
        font-weight: 600;
        color: #649ace;
      }

      .modalTextArea {
        padding: 10px;
        border: 1px solid #678098;
        border-radius: 6px;
        font-size: 16px;
        outline: none;
        resize: none;

        &:focus {
          border: 1px solid #649ace;
        }

        &::placeholder {
          color: #678098;
        }
      }
    }
  }
}
