// .highlightRow {
//     background: rgb(72, 223, 130); /* Задайте нужный вам цвет */
// }

.highlightRow {
    background-color: rgb(72, 223, 130) !important;
    > td {
      background-color: rgb(72, 223, 130) !important;
    }
  }

.remainContainer {
    background-color: #678098a8;
    border: 1px solid #6780988c;
    padding: 15px;
  }