.card {
    transition: box-shadow 0.3s;
    box-shadow: 0 2px 8px rgba(103, 128, 152, 0.5);

    &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .orderNumber {
        margin: 0;
    }
}

.statusTag {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 !important;
}

.infoGrid {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 16px;
}

.infoRow {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .infoGrid {
        grid-template-columns: 1fr;
    }
}

.viewButton {
    margin-top: 20px;

    button {
        width: 100%;

    }

}