

.orderList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    .newOrderButton{
        text-decoration: none;
        color: #fff;
        padding: 10px;
        background-color: #678098;
        width: 200px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 2px 2px 8px 0.5px #678098;
        transition: 0.2s ease-in;
        &:hover{
            background-color: #606f7e;
            box-shadow: 1px 1px 1px 0.5px #678098;
        }
       
    }
}