.helpCard {
  border-radius: 16px !important;
  overflow: hidden;
  border: 1px solid #d0d7e1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-color: #678098;
  }

  .ant-card-head {
    background: linear-gradient(90deg, #678098, #889bb8);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-bottom: none;
  }
}

.videoWrapper {
  position: relative;
  padding-top: 56.25%; // 16:9
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
}

.helpVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 12px;
}

.title{
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #678098 !important;
}

.description {
  font-size: 14px !important;
  color: #818181 !important;
  line-height: 1.5;
  font-weight: 400;
}

.datePublication {
  font-size: 14px;
  color: #678098;
  font-style: italic;
}

.titleWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .closeIcon{
    color: rgb(216, 0, 0);
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 20px;
    &:hover{
      color: rgb(148, 2, 2);
    }
  }
}

.viewCount{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}
