.sider {
  background: #fff;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  overflow-y: auto;
  width: 200px; // Укажите нужную ширину
}

.siderActive {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: none;
}

.overlayActive {
  display: block;
}