.sidebar {
    background-color: #ffffff;
    height: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-right: 1px solid #e6e6e6;
    transition: all 0.3s ease;
    width: 250px;
    min-width: 250px;

    &.collapsed {
      width: 60px;
      min-width: 60px;
      padding: 10px 5px;

      .logo {
        display: none;
      }

      .label {
        display: none;
      }
    }
  }

  .logo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #678098;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
  }

  .menuItem {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 6px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap;

    &:hover {
      background-color: #e6f7ff;
      color: #678098;
    }

    &.active {
      background-color: #678098;
      color: white;
      font-weight: bold;
    }
  }

  .icon {
    margin-right: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .toggleBtn {
    margin-top: auto;
    align-self: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #595959;
    padding: 10px;
    border-radius: 50%;
    transition: background 0.3s;
    outline: none;
  }